@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-rating: var(--rating);
  --color-subtle: var(--subtle);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

	--color-info: #1A73E8;
	--color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
  --color-warning: #FFC409;
	--color-warning-foreground: var(--warning-foreground);
  --color-danger: #DC4C64;
	--color-danger-foreground: var(--danger-foreground);
}

:root {
  /* FONTS */
  --font-poppins: 'Poppins', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Default Colors */
  --background: oklch(0.98 0 0); /* Setara dengan bg-white */
  --foreground: #1E293B; /* Setara dengan text-[#1E293B] */
  --card: oklch(0.98 0 0);
  --card-foreground: #1E293B;
  --popover: oklch(0.98 0 0);
  --popover-foreground: #1E293B;
  --primary: #A07C4B;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #BD9E72;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
	--subtle: #475569;
	--rating: #FF9500;
	--toast-background: oklch(0.98 0 0);

	--success: #20D55B;
	--success-foreground: #E5FBEB;
	--info: #1A73E8;
	--info-foreground: #E5F7FF;
	--warning: #FFC409;
	--warning-foreground: #FFF8E0;
	--danger: #DC4C64;
	--danger-foreground: #F9E8EA;
}

.dark {
  --background: #0F172A; /* Setara dengan bg-[#0F172A] */
  --foreground: oklch(0.98 0 0); /* Setara dengan text-white */
  --card: #0F172A;
  --card-foreground: oklch(0.98 0 0);
  --popover: #0F172A;
  --popover-foreground: oklch(0.98 0 0);
  --primary: #A07C4B;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #BD9E72;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
	--subtle: #92949C;
	--rating: #FF9500;
	--toast-background: #364359;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
		font-family: var(--font-lato);
		box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-poppins: var(--font-poppins);
  --font-manrope: var(--font-manrope);
  --font-lato: var(--font-lato);
  --font-inter: var(--font-inter);
}

@layer utilities {
  .max-w-container {
    max-width: 600px;
  }
  .w-container {
    width: 600px;
  }

	.btn-primary {
		@apply w-full cursor-pointer flex items-center justify-center text-nowrap break-words bg-primary hover:bg-secondary text-white dark:text-[#0F172A] px-4 py-3 rounded transition-colors duration-300 text-sm md:text-base ;
	}
	.btn-primary-outline {
		@apply w-full cursor-pointer flex items-center justify-center text-nowrap break-words border border-secondary text-black px-4 py-3 rounded hover:bg-secondary hover:text-white transition-colors duration-300 dark:text-white text-sm md:text-base;
	}


	.btn-secondary {
		@apply w-full cursor-pointer flex items-center justify-center text-nowrap break-words bg-secondary hover:bg-primary text-white p-3 rounded transition-colors duration-300;
	}
	.btn-secondary-outline {
		@apply w-full cursor-pointer flex items-center justify-center text-nowrap break-words border border-secondary text-black p-3 rounded hover:bg-secondary hover:text-white transition-colors duration-300 dark:text-white;
	}

	.btn-primary:disabled,
	.btn-primary.disabled,
	.btn-primary-outline.disabled,
	.btn-primary-outline:disabled {
		@apply text-white cursor-not-allowed;
	}

	.input {
		@apply w-full font-manrope text-sm md:text-base border border-[#C5C5C5] dark:border-[rgba(197,197,197,0.2)] rounded-lg p-3 md:p-4 outline-none focus:outline-none focus:ring-0 bg-transparent placeholder-[#C5C5C5] dark:placeholder-[rgba(197,197,197,0.2)] transition-colors duration-300 focus:border-[var(--primary)] dark:focus:border-[var(--primary)];
	}
}
