name: SAF FE Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Login to dockerhub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Build and push to dockerhub
      uses: docker/build-push-action@v5
      with:
       context: .
       push: true
       tags: fiksani/saforiginal_fe:latest
       build-args: |
         NUXT_API_URL=${{ secrets.NUXT_API_URL }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to dev server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT || 22 }}
          script: |
            cd ${{ secrets.SSH_APP_PATH }}
            docker compose pull frontend
            docker compose up -d --build --remove-orphans
